<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="REGWEBConnectionString" connectionString="Data Source=200.23.162.100;uid=cibnor;pwd=Pass@word1;Initial Catalog=REGWEB" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <!-- ++++++++++++++++++++++++++++++++++++++++ COMO AUMENTAR EL TOPE PARA EL UPLOAD DE ARCHIVOS
          To get this working, I had to supply both of these values: 
          - In system.web: <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
          - And in system.webServer:
            <security>
                <requestFiltering>
                    <requestLimits maxAllowedContentLength="1073741824" />
                </requestFiltering>
            </security>
            IMPORTANT : Both of these values must match. In this case, my max upload is 1024 megabytes.
      -->
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
      
    <compilation debug="true" targetFramework="4.0" />

    <!-- customErrors se comento para que muestre el error en desarrollo, en el server si esta habilitado 
    <customErrors mode="On" defaultRedirect="~/404.aspx">        
    </customErrors>
    -->
  </system.web>

</configuration>
