<?xml version="1.0"?>

<configuration>

    <connectionStrings>
   
      <!-- PARA USO EN EL EQUIPO LOCAL -->
      <!--
      <add name="RemoteConnectionStringCat_empl" 
           connectionString="Data Source=.;Initial Catalog=siar;Integrated Security=True" providerName="System.Data.SqlClient" />
      <add name="RemoteConnectionStringDirectorio" 
           connectionString="Data Source=.;Initial Catalog=Directorio;Integrated Security=True" providerName="System.Data.SqlClient" />
      <add name="LocalWindowsAuthConnectionStringEventos" 
           connectionString="Data Source=.;Initial Catalog=Eventos;Integrated Security=True" providerName="System.Data.SqlClient" />
           -->

      <!-- CONEXIONES AL SERVIDOR DE PRODUCCION 162.199 -->
      <add name="RemoteConnectionStringCat_empl" 
           connectionString="Data Source=172.16.200.199;Initial Catalog=siar;User ID=sdbCib;Password=m@rC0rtes1" providerName="System.Data.SqlClient" />
      <add name="RemoteConnectionStringDirectorio" 
           connectionString="Data Source=172.16.200.199;Initial Catalog=Directorio;User ID=sdbCib;Password=m@rC0rtes1" providerName="System.Data.SqlClient" />
      <add name="LocalWindowsAuthConnectionStringEventos" 
           connectionString="Data Source=172.16.200.199;Initial Catalog=Eventos;User ID=sdbCib;Password=m@rC0rtes1" providerName="System.Data.SqlClient" />


      <!-- CONEXIONES AL SERVIDOR DE PRUEBAS 162.197 -->
      <!--
      <add name="RemoteConnectionStringCat_empl"
           connectionString="Data Source=172.16.200.197;Initial Catalog=siar;User ID=sdbCib;Password=m@rC0rtes1" providerName="System.Data.SqlClient" />
      <add name="RemoteConnectionStringDirectorio"
           connectionString="Data Source=172.16.200.197;Initial Catalog=Directorio;User ID=sdbCib;Password=m@rC0rtes1" providerName="System.Data.SqlClient" />
      <add name="LocalWindowsAuthConnectionStringEventos"
           connectionString="Data Source=172.16.200.197;Initial Catalog=Eventos;User ID=sdbCib;Password=m@rC0rtes1" providerName="System.Data.SqlClient" />
           -->
    </connectionStrings>
  
  <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
